# Node modules directory
node_modules/

# Environment files
.env

# Logs
*.log
logs/

# Operating system files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# npm package-lock and yarn.lock
package-lock.json
yarn.lock

# Build and dist folders
/dist/
/build/

# Coverage directory for code coverage reports
/coverage/

# Debug files
*.debug

# Other potential files
*.bak
*.swp
*.swo
